Repository dateutil/dateutil, pull requests merged in 2018-06, with the labels that each got.

#739 Initial addition of documentation exercises to the documentation
  docs/exercises/index.rst
  docs/index.rst
Labels: docs exercises, documentation

#727 parametrize part of parser test cases with pytest
  changelog.d/727.misc.rst
  dateutil/test/test_parser.py
Labels: parser, tests

#750 Relicence my previous commits under Apache 2.0
  AUTHORS.md
  changelog.d/750.misc.txt
Labels: documentation

#748 Update index.rst link to parser page
  AUTHORS.md
  docs/exercises/index.rst
Labels: docs exercises, documentation

#751 Closes #658 Fix Isoparser misinterprets T24:00
  AUTHORS.md
  changelog.d/751.bugfix.rst
  dateutil/parser/isoparser.py
  dateutil/test/test_isoparser.py
Labels: bug, isoparser

#760 Add tests to take relativedelta.py to 100% coverage
  AUTHORS.md
  changelog.d/760.misc.rst
  dateutil/test/test_relativedelta.py
Labels: relativedelta, tests

#763 Closes #582: Allow partial minutes for python 3.6 or newer
  changelog.d/582.bug.rst
  dateutil/test/test_tz.py
  dateutil/tz/tz.py
Labels: time zones

#773 Fix isotime behavior for strings with hour == 24
  changelog.d/773.bugfix.rst
  changelog.d/773.misc.rst
  dateutil/parser/isoparser.py
  dateutil/test/test_isoparser.py
Labels: bug, isoparser

#753 #426 parse xm times
  AUTHORS.md
  changelog.d/753.doc.rst
  docs/examples.rst
Labels: documentation

#762 #623: added documentation for rrulestr function
  changelog.d/726.doc.rst
  dateutil/rrule.py
  docs/rrule.rst
Labels: documentation, rrule

#757 Changelog documentation
  AUTHORS.md
  CONTRIBUTING.md
  changelog.d/757.doc.rst
Labels: documentation

#780 Warnings as errors
  changelog.d/780.misc.rst
  dateutil/test/test_import_star.py
  setup.cfg
Labels: build, tests

#779 Add dual license flag for recent contributors
  AUTHORS.md
Labels: documentation
